@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The Good plenty of Humour that you cant find anywhere on your local host.</p>
</div>
 