@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Well well, we are running this app on our local host & not airing on web, so security shouln't be much of a problem:) </p>
